@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.vertical-line {
  border-left: solid black;
  margin-right: 10px;

}

.triangle-black {
  transform: rotate(180deg);
  transition: transform .2s linear;
}

.triangle-black.open {
  transform: rotate(0deg);
  transition: transform .2s linear;
}

.eventview {
  display: grid;
  grid-template-columns:10% 25% 25% 25% 15%;
}

.container {
  margin:5vh auto;
}

.left {
  white-space: nowrap;
  transform-origin: top left;
  left:0;
  top: 0;
  transform: rotate(-90deg) translateX(-100%);
}

.title {

  font-style: normal;
  font-weight: 400;
  font-size: 64px;

  color: #000000;

  
}

.heading {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}

.dayTitle {
  background: #D9D9D9;
  color:#000000;
  width: 105;
  margin: 5px 0px;
  padding: 10px 20px;
  cursor: pointer;
}

.day {
  background: #EFEFEF;
  color:#000000;
  margin: 5px;
  cursor: pointer;
}

.activitiesList {
  color:#000000;
  padding: 5px;
  cursor: pointer;
}

.activity {
  background: #D9D9D9;
  color:#000000;
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.titleCard {
  display: none;
  color: black;
  font-size: 50px;
  cursor: pointer;
}

.whiteFont {
  color: rgb(0, 0, 0);
  font-size: 25px;
}

.modal {
  margin-bottom: 20px;
  z-index: 5;
}

#wrap {
  display: flex;
  align-items: center;
  margin: 10px;
}
.icon:before {
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 30px;
}

#plus:before {
  content: '\FF0B';
}


.highlight-region {
  background-color: #FBBD23;
}

.members {
  background: #D9D9D9;
  color:#000000;
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.chat {
  background: #D9D9D9;
  color:#000000;
  margin: 10px;
  height: 500px;
  cursor: pointer;
}


@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");


.chat-window {
  width: 300px;
  height: 420px;
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 45px;
  border-radius: 6px;
  background: #D9D9D9;
  cursor: pointer;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: rgb(0, 0, 0);
  font-weight: 700;
  line-height: 45px;
}

.chat-window .chat-body {
  height: calc(450px - (45px + 70px));
  border: 1px solid #263238;
  background: #EFEFEF;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #D9D9D9;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: cornflowerblue;
  color: rgb(255, 255, 255);
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
  display: flex;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.chat-window .chat-footer button:hover {
  color: #43a047;
}
