body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: grid;
  grid-template-columns: 25% 35% 25% 15%;
}

.day {
  background: #4b4b4b;
  color:#ffffff;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.activity {
  background: #4b4b4b;
  color:#ffffff;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.titleCard {
  color: black;
  font-size: 50px;
  cursor: pointer;
}

.whiteFont {
  color: white;
  font-size: 25px;
}



.modal {
  margin-bottom: 20px;
}

.highlight-region {
  background-color: yellow;
}